{% extends "base.html" %}
{% block title %}Login - Mercoin Shop{% endblock title %}
{% block main %}
	<div class="container">
<dir class="row">
<div class="col-md-5">
<h3>Login</h3>
<form action="{% url 'login' %}" method="post">
{% csrf_token %}
<div class="form-group">
<label for="username">Usuario</label>
<input class="form-control" type="text" name="username" id="username" value="{{ username }}" required/>
</div>
<div class="form-group">
<label for="password">Contraseña</label>
<input class="form-control" type="password" name="password" id="password" required/>
</div>
<input class="btn btn-primary btn-raised" type="submit" value="Login" />
</form>
</div>

<div class="col-md-2"></div>

<div class='col-md-5'>
<h3>Crear cuenta</h3>

<form action="{% url 'signin' %}" method="post">
{% csrf_token %}

<div class="form-group">
<label for="password">E-Mail</label>
<input class="form-control" type="email" name="email" id="email" required/>
</div>

<div class="form-group">
<label for="username">Usuario</label>
<input class="form-control" type="text" name="username" id="username" value="{{ username }}" required/>
</div>
<div class="form-group">
<label for="password">Contraseña</label>
<input class="form-control" type="password" name="password" id="password" required/>
</div>
<div class="form-group">
<label for="password">Confirmar contraseña</label>
<input class="form-control" type="password" name="password2" id="password" required/>
</div>
<div class="form-group">
{{ captcha }}
</div>
<input class="btn btn-primary btn-raised" type="submit" value="Crear Cuenta" />
</form>
</div>
</dir>
</div>
{% endblock main %}