{% extends "base.html" %}
{% block title %}Perfil - Mercoin Shop{% endblock title %}
{% block main %}


<div class="container" id="container">
	<div class="row">
		<div class="col-sm-3">
			<h2>Perfil de {{user}}</h2>
			<h3>Reputacion: {{detalles.reputacion}}</h3>

			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal">Denunciar</button>

              <!-- Modal -->
              <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Denunciar</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form method="post">
                      {% csrf_token %}
                      <div class="form-group">
                      <textarea class="form-control" type="text" name="texto" id="texto" placeholder="Motivo de denuncia..." required/></textarea>
                      </div>
                      {{ captcha }}
                      
                    </div>
                    <div class="modal-footer">
                      <input class="btn btn-primary btn-raised" type="submit" value="Enviar Denuncia" />
                    </div>
                    </form>
                  </div>
                </div>
              </div>
		</div>
		<div class="col-sm-9">
	<nav class="nav nav-tabs" id="myTab" role="tablist">
  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Articulos Publicados</a>
</nav>

<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

    <div class="card" >
    	<div class="card-body">
 		
 		{% for i in articulos %}
		<li class="list-group-item"><a href="{% url 'articulo' articulo_id=i.id %}">{{i.nombre|truncatewords:"10"}}</a></li>
		{% endfor %}
    
    </div>
	</div>

</div>


</div>
</div>
</div>


</div>
{% endblock main %}
